doctype html
html(ng-app='runner', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Runner
    link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/vendor/toastr/toastr.css', rel='stylesheet')
    link(href='/vendor/ng-table/ng-table.min.css', rel='stylesheet')
    link(href='/index.css', rel='stylesheet')
    link(href='/views/therapists/therapists.css', rel='stylesheet')
    link(href='/views/clients/clients.css', rel='stylesheet')
    link(href='/views/schedule/schedule.css', rel='stylesheet')
    link(href='/views/review/review.css', rel='stylesheet')
  body
    include nav
    .container-fluid#body
      .row
        .col-xs-12
          #container(ng-view)

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/ng-file-upload/angular-file-upload-shim.min.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/ng-file-upload/angular-file-upload.min.js')
    script(src='/vendor/angular-route/angular-route.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/vendor/angular-ui-utils/ui-utils.min.js')
    script(src='/vendor/underscore/underscore-min.js')
    script(src='/vendor/ng-table/ng-table.min.js')
    script(src='/vendor/toastr/toastr.min.js')
    script(src='/vendor/localforage/dist/localforage.min.js')
    script(src='/vendor/angular-localforage/dist/angular-localForage.min.js')
    script(src='/config/toastr.js')
    script(src='/index.js')
    script(src='/nav.js')
    script(src='/views/home/home.js')
    script(src='/views/dashboard/dashboard.js')
    script(src='/views/clients/clients.js')
    script(src='/views/therapists/therapists.js')
    script(src='/views/schedule/schedule.js')
    script(src='/views/review/review.js')
    script(src='/views/logout/logout.js')
    script(src='/components/factories/home.js')
    script(src='/components/factories/user.js')
    script(src='/components/factories/client.js')
    script(src='/components/factories/therapist.js')
    script(src='/components/factories/treatment.js')
    script(src='/components/factories/rug.js')
    script(src='/components/factories/http-interceptor.js')
