.navbar.navbar-default(role='navigation', ng-controller='NavCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/#/dashboard'): i.fa.fa-calculator &nbsp Runner

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-hide='email')
      ul.nav.navbar-nav.navbar-right(ng-show='email')
        li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown') Dashboard &nbsp
          span.caret
          ul.dropdown-menu(role='menu')
            li: a(href='/#/clients') Clients
            li: a(href='/#/therapists') Therapists
            li: a(href='/#/schedule') Schedule
            li: a(href='/#/review') Review
        li.dropdown: a.dropdown-toggle(href='#', data-toggle='dropdown') {{email}} &nbsp
          span.caret
          ul.dropdown-menu(role='menu')
            li: a(href='/#/profile') Edit Profile
            li: a(href='/#/logout') Logout

