h2{
}

tr:active, tr:hover{
  cursor: pointer;
}

.img{
  height: 300px;
  width: 300px;
  background-size: cover;
  margin: auto;
  margin-top: 20px;
}

.rug{
  overflow: auto;
  height: 540px;
}

.panel-heading{
  margin-top: 12px;
}

.panel-title:hover{
  cursor: pointer;
}

.btn{
  margin: 10px;
}

.table{
  margin-bottom: 0px;
}

.good{
  color: green;
  font-weight: bold;
}

.bad{
  color: red;
  font-weight: bold;
}
