h2{
}

tr:active, tr:hover{
  cursor: pointer;
}

.img{
  height: 300px;
  width: 300px;
  background-size: cover;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.rug-heading, .rug-body{
  overflow: auto;
}

.rug-heading{
  padding-right: 15px;
}

h4.info{
  font-weight: normal;
}

.rug-body{
  height: 540px;
}

.panel-heading{
  margin-top: 12px;
}

.panel-title:hover{
  cursor: pointer;
}

.btn{
  margin: 10px;
}

.table{
  margin-bottom: 0px;
}

.calculator {
  .bold{
    font-weight: bold;
  }

  .left{
    text-align: left;
  }

  .right{
    text-align: right;
  }

  .good{
    //--------------ADD COLOR WHEN WORKING CORRECTLY--------------//
    color: green;
  }

  .bad{
    //--------------ADD COLOR WHEN WORKING CORRECTLY--------------//
    color: red;
  }

  .today{
    background-color: #e6e6e6;
  }

  th{
    font-size: 1.4em;
  }

  th, td{
    text-align: center;
    vertical-align: bottom;
  }

  th:nth-child(1), td:nth-child(1){
    width: 5%;
  }

  th:nth-child(2), td:nth-child(2){
    width: 10%;
  }

  th:nth-child(3), td:nth-child(3){
    width: 7.5%;
  }

  th:nth-child(4), td:nth-child(4){
    width: 8%;
  }

  td:nth-child(4){
    text-align: right;
  }

  th:nth-child(5), td:nth-child(5){
    width: 8%;
  }

  th:nth-child(6), td:nth-child(6){
    width: 8%;
  }

  th:nth-child(7), td:nth-child(7){
    width: 8%;
  }

  th:nth-child(8), td:nth-child(8){
    width: 8%;
  }

  th:nth-child(9), td:nth-child(9){
    width: 8%;
  }
}
