.row
  .col-xs-3
    h2 Schedule
    hr
    form.form(role='form', novalidate, name='selectDate')
      .form-group
        label(for='date') Choose Date: &nbsp
        input.form-control#date(type='date', ng-model='txDate', required, autfocus)
      button.btn.btn-success.schedule(type='submit', ng-show='selectDate.$valid', ng-click='getFutureTreatments()') Get Treatments
    b
    label(ng-show='treatments') Add Therapist:
    select.form-control#addTherapist(name='addTherapist', ng-model='addTherapist', ng-show='treatments')
      option(value='') Choose Unscheduled
      option(ng-repeat='therapist in therapists.oncall.pt', value='{{$index + \',\' + therapist.discipline}}') {{therapist.discipline}} {{therapist.name}}
      option(ng-repeat='therapist in therapists.oncall.ot', value='{{$index + \',\' + therapist.discipline}}') {{therapist.discipline}} {{therapist.name}}
      option(ng-repeat='therapist in therapists.oncall.st', value='{{$index + \',\' + therapist.discipline}}') {{therapist.discipline}} {{therapist.name}}
    br
    button.btn.btn-danger(type='submit', ng-click='scheduleTxs()', ng-hide='!treatments || treatments.pt.length || treatments.ot.length || treatments.st.length') Submit Schedule
  .col-xs-1
  .col-xs-8
    .row(ng-show='treatments')
      tabset(justified='true')
        tab(heading='All')
          h4 PT
          .therapist(ng-repeat='therapist in therapists.active.pt')
            h4
              a(href='', ng-click='edit([therapist._id])'): i.fa.fa-edit &nbsp
              {{therapist.name}} {{(therapist.txMins / therapist.schedule.mins) * 100 | number: 1}}%
            .form-inline(ng-show='editMins[therapist._id]')
              label Work Mins Today: &nbsp
              input.form-control.therMins(type='text', ng-model='therapist.schedule.mins')
            .form-inline(ng-show='editMins[therapist._id]')
              label Tx Mins Today: &nbsp &nbsp &nbsp
              input.form-control(type='text', disabled, ng-model='therapist.txMins')
            hr(ng-show='therapist.treatments[0]')
            h5(ng-repeat='tx in therapist.treatments')
              a(href='', ng-click='undoTx($index + \',\' + $parent.$index + \',\' + tx.discipline)'): i.fa.fa-remove
              |  {{tx.room}} 
              b {{tx.clientName}} 
              | ({{tx.mins}})
            hr(ng-hide='!treatments.pt.length')
            form.form.inline-form(ng-show='treatments.pt.length')
              label Add Treatment:
              select.form-control(ng-model='tx.add')
                option(ng-repeat='tx in treatments.pt', value='{{$index + \',\' + $parent.$index + \',\' + tx.discipline}}') {{tx.mins}} {{tx.clientName}}
          h4 OT
          .therapist(ng-repeat='therapist in therapists.active.ot')
            h4
              a(href='', ng-click='edit([therapist._id])'): i.fa.fa-edit &nbsp
              {{therapist.name}} {{(therapist.txMins / therapist.schedule.mins) * 100 | number: 1}}%
            .form-inline(ng-show='editMins[therapist._id]')
              label Work Mins Today: &nbsp
              input.form-control.therMins(type='text', ng-model='therapist.schedule.mins')
            .form-inline(ng-show='editMins[therapist._id]')
              label Tx Mins Today: &nbsp &nbsp &nbsp
              input.form-control(type='text', disabled, ng-model='therapist.txMins')
            hr(ng-show='therapist.treatments[0]')
            h5(ng-repeat='tx in therapist.treatments')
              a(href='', ng-click='undoTx($index + \',\' + $parent.$index + \',\' + tx.discipline)'): i.fa.fa-remove
              |  {{tx.room}} 
              b {{tx.clientName}} 
              | ({{tx.mins}})
            hr(ng-hide='!treatments.ot.length')
            form.form.inline-form(ng-show='treatments.ot.length')
              label Add Treatment:
              select.form-control(ng-model='tx.add')
                option(ng-repeat='tx in treatments.ot', value='{{$index + \',\' + $parent.$index + \',\' + tx.discipline}}') {{tx.mins}} {{tx.clientName}}
          h4 ST
          .therapist(ng-repeat='therapist in therapists.active.st')
            h4
              a(href='', ng-click='edit([therapist._id])'): i.fa.fa-edit &nbsp
              {{therapist.name}} {{(therapist.txMins / therapist.schedule.mins) * 100 | number: 1}}%
            .form-inline(ng-show='editMins[therapist._id]')
              label Work Mins Today: &nbsp
              input.form-control.therMins(type='text', ng-model='therapist.schedule.mins')
            .form-inline(ng-show='editMins[therapist._id]')
              label Tx Mins Today: &nbsp &nbsp &nbsp
              input.form-control(type='text', disabled, ng-model='therapist.txMins')
            hr(ng-show='therapist.treatments[0]')
            h5(ng-repeat='tx in therapist.treatments')
              a(href='', ng-click='undoTx($index + \',\' + $parent.$index + \',\' + tx.discipline)'): i.fa.fa-remove
              |  {{tx.room}} 
              b {{tx.clientName}} 
              | ({{tx.mins}})
            hr(ng-hide='!treatments.st.length')
            form.form.inline-form(ng-show='treatments.st.length')
              label Add Treatment:
              select.form-control(ng-model='tx.add')
                option(ng-repeat='tx in treatments.st', value='{{$index + \',\' + $parent.$index + \',\' + tx.discipline}}') {{tx.mins}} {{tx.clientName}}
        tab(heading='PT')
          .therapist(ng-repeat='therapist in therapists.active.pt')
            h4
              a(href='', ng-click='edit([therapist._id])'): i.fa.fa-edit &nbsp
              {{therapist.name}} {{(therapist.txMins / therapist.schedule.mins) * 100 | number: 1}}%
            .form-inline(ng-show='editMins[therapist._id]')
              label Work Mins Today: &nbsp
              input.form-control.therMins(type='text', ng-model='therapist.schedule.mins')
            .form-inline(ng-show='editMins[therapist._id]')
              label Tx Mins Today: &nbsp &nbsp &nbsp
              input.form-control(type='text', disabled, ng-model='therapist.txMins')
            hr(ng-show='therapist.treatments[0]')
            h5(ng-repeat='tx in therapist.treatments')
              a(href='', ng-click='undoTx($index + \',\' + $parent.$index + \',\' + tx.discipline)'): i.fa.fa-remove
              |  {{tx.room}} 
              b {{tx.clientName}} 
              | ({{tx.mins}})
            hr(ng-hide='!treatments.pt.length')
            form.form.inline-form(ng-show='treatments.pt.length')
              label Add Treatment:
              select.form-control(ng-model='tx.add')
                option(ng-repeat='tx in treatments.pt', value='{{$index + \',\' + $parent.$index + \',\' + tx.discipline}}') {{tx.mins}} {{tx.clientName}}
        tab(heading='OT')
          .therapist(ng-repeat='therapist in therapists.active.ot')
            h4
              a(href='', ng-click='edit([therapist._id])'): i.fa.fa-edit &nbsp
              {{therapist.name}} {{(therapist.txMins / therapist.schedule.mins) * 100 | number: 1}}%
            .form-inline(ng-show='editMins[therapist._id]')
              label Work Mins Today: &nbsp
              input.form-control.therMins(type='text', ng-model='therapist.schedule.mins')
            .form-inline(ng-show='editMins[therapist._id]')
              label Tx Mins Today: &nbsp &nbsp &nbsp
              input.form-control(type='text', disabled, ng-model='therapist.txMins')
            hr(ng-show='therapist.treatments[0]')
            h5(ng-repeat='tx in therapist.treatments')
              a(href='', ng-click='undoTx($index + \',\' + $parent.$index + \',\' + tx.discipline)'): i.fa.fa-remove
              |  {{tx.room}} 
              b {{tx.clientName}} 
              | ({{tx.mins}})
            hr(ng-hide='!treatments.ot.length')
            form.form.inline-form(ng-show='treatments.ot.length')
              label Add Treatment:
              select.form-control(ng-model='tx.add')
                option(ng-repeat='tx in treatments.ot', value='{{$index + \',\' + $parent.$index + \',\' + tx.discipline}}') {{tx.mins}} {{tx.clientName}}
        tab(heading='ST')
          .therapist(ng-repeat='therapist in therapists.active.st')
            h4
              a(href='', ng-click='edit([therapist._id])'): i.fa.fa-edit &nbsp
              {{therapist.name}} {{(therapist.txMins / therapist.schedule.mins) * 100 | number: 1}}%
            .form-inline(ng-show='editMins[therapist._id]')
              label Work Mins Today: &nbsp
              input.form-control.therMins(type='text', ng-model='therapist.schedule.mins')
            .form-inline(ng-show='editMins[therapist._id]')
              label Tx Mins Today: &nbsp &nbsp &nbsp
              input.form-control(type='text', disabled, ng-model='therapist.txMins')
            hr(ng-show='therapist.treatments[0]')
            h5(ng-repeat='tx in therapist.treatments')
              a(href='', ng-click='undoTx($index + \',\' + $parent.$index + \',\' + tx.discipline)'): i.fa.fa-remove
              |  {{tx.room}} 
              b {{tx.clientName}} 
              | ({{tx.mins}})
            hr(ng-hide='!treatments.st.length')
            form.form.inline-form(ng-show='treatments.st.length')
              label Add Treatment:
              select.form-control(ng-model='tx.add')
                option(ng-repeat='tx in treatments.st', value='{{$index + \',\' + $parent.$index + \',\' + tx.discipline}}') {{tx.mins}} {{tx.clientName}}
